include ./partials/nav
block content
    h1 Orders
      ul
        each prod in productData
          p id: #{prod.id}
          | name: #{prod.name}
          | price: #{prod.price} 
          | qty: #{prod.quantity}
          | desc: #{prod.description}
a(href=`/putToComplete/${currentOrder.id}?_method=PUT`) Complete Order.