include ./partials/nav
block content
    h1 Orders
      ul
        each prod in productData
          p id: #{prod.id}
          | name: #{prod.name}
          | price: #{prod.price} 
          | qty: #{prod.quantity}
          | desc: #{prod.description}
          br
          form(action="/removeProduct", method="POST")
            input.delbtn(type="submit" value="Remove From Cart")
            
    //- if message
    //-   h2= message
    //- p Description: #{product.description}
    //- p Quantity: #{product.quantity} units
    //- //- ppu is price per unity
    //- p Price: $#{product.price}
    //- //- Need to add to Orders
    //- button(type="submit") Add To Order

    form(action="/removeOrder", method="POST")
      input.delbtn(type="submit" value="Cancel Order")
