//- extends index.pug
include ./partials/nav
block content
  form(action=`/postToOrder/${product.id}`, method="POST")
    h1 Product: #{product.name}
    if message
      h2= message
    p Description: #{product.description}
    p Quantity: #{product.quantity} units
    //- ppu is price per unity
    p Price: $#{product.price}
    //- Need to add to Orders
    button(type="submit") Add To Order